@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
* {
	font-family: 'Roboto Condensed', sans-serif;
}
App {
	background: #F2F2F2 0% 0% no-repeat padding-box;
	opacity: 1;
}

.random {
	margin-top: -60px;
	margin-left: 60px;
	cursor: auto;
}


